*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#ffffff;
}
form{
    color: #4a5f6a;
    background-color: white;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position:absolute;
    left:50%;
    transform: translate(-50%);
    border-radius: 20px;
    box-shadow: 0px 0px 20px;
}
form h3{
    text-align: center;
    color: #5f7c8a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-container{
    position: relative;
}
label{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
    color: #5f7c8a;
}

form input[type=email],
form input[type=password],
form input[type=text],
form input[type=number],
form input[type=text],
form input[type=time],
form input[type=date],
form textarea,
form select
{
    width:100%;
    height: 45px;
    color: #5f7c8a;
    border:1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
    border-radius: 10px;
    padding-left: 70px;
}
form input[type=checkbox]{
    padding-left: 10px;
}
form textarea{
    height: 150px;
}


form input[type=email]{
    background-image:url(assets/img/icons/email.png);
    background-position: 7px 7px;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: #4a5f6a;
}
#alterar{
    margin-right: 65%;
}

form input[type=submit]
{
    width: 100%;
    height: 30px;
    cursor:pointer;
    background-color:#5f7c8a;
    color: white;
    border: 0px;
    border-radius: 10px;
}
form input[type=submit]:hover{
    background-color: #4a5f6a;
    transition: 1s;
}
form input[type=email]:focus{
    outline: 0px;
    border: 1px solid;
    box-shadow: 0px 0px 10px ;
}
form input[type=password]:focus{
    outline:0;
    border: 1px solid;
    box-shadow: 0px 0px 10px ;
}
form input[type=text]:focus{
    outline: 0;
    border: 1px solid;
    box-shadow: 0px 0px 10px ;
}
form input[type=number]:focus{
    outline:0;
    border: 1px solid;
    box-shadow: 0px 0px 10px ;
}
form input[type=time]:focus{
    outline:0;
    border: 1px solid;
    box-shadow: 0px 0px 10px ;
}
form input[type=date]:focus{
    outline:0;
    border: 1px solid;
    box-shadow: 0px 0px 10px ;
}
form textarea:focus{
    outline:0;
    border: 1px solid;
    box-shadow: 0px 0px 10px ;
}
form select:focus{
    outline:0;
    border: 1px solid;
    box-shadow: 0px 0px 10px ;
}

.card{
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #4a5f6a;
    text-align: center;
}
.title{
    padding-top: 10px;
    width: 500px;
    height: 50px;
    background-color:#ffffff;
    color: #4a5f6a;
    border: 1px solid #4a5f6a;
}
.number-frequency{
    width: 500px;
    display: flex;
    height: 50px;
    background-color:#ffffff;
    color: #4a5f6a;

}
.number{
    flex: 1;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
}
.frequency{
    flex: 2;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
}
.time-type{
    background-color:#ffffff;
    color: #4a5f6a;
    width: 500px;
    display: flex;
    height: 50px;
}
.time{
    flex: 1;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
}
.type{
    flex:1;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
}

.img{
    width: 500px;
    display: flex;
    height: 200px;
    background-color:#ffffff;
    color: #4a5f6a;
    border: 1px solid #4a5f6a;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.description{
    width: 500px;
    display: flex;
    min-height: 100px;
    background-color:#ffffff;
    color: #4a5f6a;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
    padding-bottom: 10px;
}
.status-date{
    width: 500px;
    display: flex;
    height: 50px;
    background-color:#ffffff;
    color: #4a5f6a;
}
.status{
    flex: 1;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
}
.date{
    flex: 1;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
}
.time-date{
    width: 500px;
    display: flex;
    height: 50px;
    background-color:#ffffff;
    color: #4a5f6a;
}
.last-date{
    flex: 1;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
}