*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
}
form{
    color: #4a5f6a;
    background-color: white;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px;
    position: absolute;
    z-index: 1;
}
form h3{
    color: #5f7c8a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-container{
    position: relative;
}
label{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
    color: #5f7c8a;
}

form input[type=email],
form input[type=password],
form input[type=text],
form input[type=number],
form input[type=text],
form input[type=time],
form input[type=date],
form textarea,
form select
{
    width:100%;
    height: 45px;
    color: #5f7c8a;
    border:1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
    border-radius: 10px;
    padding-left: 70px;
}
form input[type=checkbox]{
    padding-left: 10px;
}
form textarea{
    height: 150px;
}


form input[type=email]{
    background-image:url(assets/img/icons/email.png);
    background-position: 7px 7px;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: #4a5f6a;
}

form input[type=submit]
{
    width: 100%;
    height: 30px;
    cursor:pointer;
    background-color:#5f7c8a;
    color: white;
    border: 0px;
    border-radius: 10px;
}
form input[type=submit]:hover{
    background-color: #4a5f6a;
    transition: 1s;
}
form input[type=email]:focus, 
form input[type=password]:focus,
form input[type=number]:focus,
form input[type=text]:focus,
form input[type=time]:focus,
form input[type=date]:focus,
form textarea:focus,
form select:focus
{

    outline: 0px;
    border: 1px solid;
    box-shadow: 0px 0px 10px ;
}
.select{
    color: #4a5f6a;
    background-color: white;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    left:0%;
    transform: translate(0%);
    border-radius: 20px;
    box-shadow: 0px 0px 20px;
}

.card{
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #4a5f6a;
    text-align: center;
}
.title{
    padding-top: 10px;
    height: 50px;
    background-color:#ffffff;
    color: #4a5f6a;
    border: 1px solid #4a5f6a;
}
.number-frequency{
    display: flex;
    height: 50px;
    background-color:#ffffff;
    color: #4a5f6a;

}
.number{
    flex: 1;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
}
.frequency{
    flex: 2;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
}
.time-type{
    background-color:#ffffff;
    color: #4a5f6a;
    display: flex;
    height: 50px;
}
.time{
    flex: 1;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
}
.type{
    flex:1;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
}

.img{
    justify-content: center;
    display: flex;
    background-color:#ffffff;
    color: #4a5f6a;
    border: 1px solid #4a5f6a;
}

.description{
    display: flex;
    min-height: 100px;
    background-color:#ffffff;
    color: #4a5f6a;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
    padding-bottom: 10px;
}
.status-date{
    display: flex;
    height: 50px;
    background-color:#ffffff;
    color: #4a5f6a;
}
.status{
    flex: 1;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
}
.date{
    flex: 1;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
}
.time-date{
    display: flex;
    height: 50px;
    background-color:#ffffff;
    color: #4a5f6a;
}
.last-date{
    flex: 1;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
}
.name{
    flex: 1;
    height: 50px;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
    color: #4a5f6a;
}
.comment{
    flex: 1;
    border: 1px solid #4a5f6a;
    padding-top: 10px;
    min-height: 100px;
    color: #4a5f6a;
}
.danger a, .sucess a{
    text-decoration: none;
    color: white;
}
.danger, .sucess{
    z-index: 2;
    position: absolute;
    display: flex;
    width: 400px;
    padding: 10px;
    justify-items: center;
    border-radius: 10px;
}
.danger{
    background-color: rgb(196, 89, 89);
}
.sucess{
    background-color: rgb(59, 165, 105);
    flex-direction: column;
}

.msg{
    flex: 9;
    color: white;
}
.close{
    flex: 1;
    text-decoration: none;
    color: white;
}
.btn-sim, .btn-nao{
    flex: 9;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: white;
}
.btn-sim{
    background-color: rgb(20, 99, 131);
}
.btn-nao{
    background-color:rgb(196, 89, 89);
}
.btn-sim:hover{
    background-color: rgb(20, 99, 255);
}
.btn-nao:hover{
    background-color:rgb(233, 35, 35);
}
.close a:hover{
    color: #ccc;
}